.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  flex-direction: row;
}

#profileSpace {
  display: flex;
  justify-content: center;
  width: 60%;
  flex-direction: row;
  flex-wrap: wrap;
}

.containerTitle {
  width: 100%;
  text-align: center;
}

#addedFriends {
  background-color: blue;
  opacity: 80%;
  width: 30%;
  margin-left: 100px;
  margin-right: -20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#addedFriends .container {
  margin-left: 10px;
}
